PyMySQL
requests
Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Cors
Flask-Swagger-UI
python-dotenv
mysql-connector-python
yfinance
click
gunicorn
nsepython
alpha-vantage
pandas
polygon-api-client
pytest
pytest-mock